@model DoAnThucTap.Web.Areas.Admin.ViewModels.CategoryBook.AddorUpdateCategoryBook

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="_Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryBookName" class="control-label">Thể loại sách</label>
                    <input asp-for="CategoryBookName" class="form-control" />
                    <span asp-validation-for="CategoryBookName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


